<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="../static/enter.css">
	<title>rosovski</title>
</head>
	
<body>
	<div class="modal">

		<form class="trans shadow">
		  	<input type="email" placeholder="Email" class='input input--top' />
		  	<input type="password" placeholder="Password" class='input' />
		  	<input type="submit" value="Log In" class="input input--submit" />
		</form>

	</div>
<div class="faded"></div>
<div class="fullscreen-bg"></div>
</body>
</html>